<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zadanie3.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=LAPTOP-JDNOQEE1\AYAKA;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zadanie3.Properties.Settings.TPConnectionString" connectionString="Data Source=LAPTOP-JDNOQEE1\Ayaka;Initial Catalog=TP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zadanie3.Properties.Settings.TP2ConnectionString"
            connectionString="Data Source=LAPTOP-JDNOQEE1\Ayaka;Initial Catalog=TP2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>